<script type="text/javascript" src="<%= uri( '/js/jquery.balloon.js', false )%>"></script>

<script>

$(function(){
 
  $.each($(".heart"), function(i, val) {
    $(val).balloon( {contents:$(val).data('user') } );
  });

});

</script>

<div class="container">

  <div class="panel panel-default">
    <div class="panel-heading" >
      <div class="row">
        <div class="col-md-12">
        <h2 class="text-center"><%= @illust.title %></h2>
        <p class="text-center" ><%= @illust.caption %></p>
        <p class="text-center"><a href="<%= uri( '/users/'+ @illust.account.kmcid,false ) %>" ><%= @illust.account.name %></a>
        <p class="text-center"><%= @illust.created_at.strftime("%Y年%m月%d日 %H時%M分%S秒") %></p>
        </div>
      </div>
      <% if kmcid == @illust.account.kmcid then %>
     	<div class="row">
         <div class="col-md-12">
       	  <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#editModal">情報の編集</button>
         </div>
       </div>
      <% end %>
    </div>
    <div class="panel-body">

      <div class="row">
          <ul class="breadcrumb">
            <li>タグ</li>
            <% @illust.tags.each do |t| %>
            <li><a href="<%= uri( '/searchbytag/' + t.id.to_s ,false ) %>"><%= t.name %></a></li>
            <% end %>
            <%# <li><button class="btn btn-primary">編集</button></li>%>
          </ul>
      </div>

       
      <div class="row">

        <div class="col-md-12">
          
          <div class="col-md-12">
             
            <% @illust.likes.each do |l| %>
            
              <a href="<%= uri( '/users/' + l.account.kmcid ,false ) %>">
                <span class="glyphicon glyphicon-heart pull-right heart" data-user="<%= l.account.kmcid %>" <% if l.account.id == user.id then %><%= "style='color:red;'" %><%end%> ></span>
              </a> 
          
            <% end %>
          
          </div>
 
          <% if @illust.account.id != user.id then %>
            
            <div class="col-md-12" >
              <form method="post" action="<%= uri( '/like',false ) %>" >
                <input type="hidden" value="<%= @illust.id %>" name="id" >
                <button type="submit" class="btn btn-default pull-right" >よさ <%= @illust.likes.count %>
                </button>
              </form>
            </div>

          <% end %>

        </div>
      </div>
      
      <div class="row"> 
        <div class="col-md-12">
          <a href="<%= uri( "./illusts/" + @illust.filename , false ) %>" >
            <img src="<%= uri( "./illusts/" + @illust.filename , false ) %>" class="img-responsive center-block" >
          </a>
        </div>
      </div>
      
      <div class="row">
        <form method="post" action="<%= uri('/illust/' + @illust.id.to_s + '/comment',false ) %>" >
          <div class="col-md-10">
            <input type="text" name="comment" class="form-control" maxlength="256" >
          </div>
          <div class="col-md-2">
            <button type="submit" class="btn btn-primary btn-block" >コメント</button>
          </div>
        </form>
      </div>

      <div class="row">
          <% @illust.comments.order( "created_at DESC" ).each do |c| %>
            <div class="col-md-12">
              <p><a href="<%= uri( '/users/' + c.account.kmcid,false ) %>"><%= c.account.name %></a> > <%= c.text %> -( <%= c.created_at.strftime( "%Y/%m/%d %H:%M:%S" ) %> )</p>
            </div>
          <% end %>
      </div>

    </div>
  </div> 

  <% if kmcid == @illust.account.kmcid then %>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <button class="btn btn-danger center-block" data-toggle="modal" data-target="#deleteModal">この神絵を削除する</button>
        </div> 
      </div>
    </div>
  <% end %> 



</div>

<!-- モーダル・ダイアログ -->
<div class="modal fade" id="deleteModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
        <h4 class="modal-title">神絵の削除</h4>
      </div>
      <div class="modal-body">
        <p>この神絵を削除しますか？</p>
        <form action="<%= uri( '/deleteillust/' + @illust.id.to_s,false ) %>" method="POST" >
          <div class="form-group">
            <button type="submit" class="btn btn-danger form-control" >削除する</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">やめる</button>
      </div>
    </div>
  </div>
</div>

<script>
$(function(){
  $( "input[name=title]" ).val( "<%= @illust.title %>" );
  $( "input[name=caption]" ).val( "<%= @illust.caption %>" );

  <% tags = [] %>
  <% @illust.tags.each do |t|  %>
  <% tags.push( t.name ) %>
  <% end %>
  
  $( "input[name=tags]" ).val( "<%= tags.join(',') %>" );
});
</script>


<div class="modal fade" id="editModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">神絵の情報編集</h4>
      </div>
      <div class="modal-body">
        <form action="<%= uri('/editillust/'+@illust.id.to_s ,false) %>" method="POST" >

          <%== erb :illustinfoform %>

          <div class="form-group">
            <button type="submit" class="btn btn-success form-control" >送信する</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">やめる</button>
      </div>
    </div>
  </div>
</div>
