
<style>
.carousel{
    width:80%;
    height: 320px;
    margin:auto;
}
</style>

<div class="container">

<% if @newcomments.count > 0 %>
  <div class="panel panel-success">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-12">
        <h2 class="text-center">新たなコメントがついています！</h2>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <% @newcomments.sort{ |a,b| a.folder.title <=> b.folder.title }.each do |c| %>
            <p><a href="<%=uri( '/illust/' + c.folder.id.to_s , false ) %>"><%= c.folder.title %></a> : <a href="<%= uri( '/users/' + c.account.kmcid,false ) %>"><%= c.account.name %></a> > <%= c.text %> -( <%= c.created_at.strftime( "%Y/%m/%d %H:%M:%S" ) %> )</p> 
        <% end %>
        </div>
      </div>
    </div>
  </div>
<%end%>

<% if @newlikes.count > 0 %>
  <div class="panel panel-success">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-12">
        <h2 class="text-center">新たなよさがついています！</h2>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <% @newlikes.each do |l| %>
            <p>
              <% folder = l.first %>
              <a href="<%=uri( '/illust/' + folder.id.to_s , false ) %>"><%= folder.title %></a> : 

              <% l.pop.each do |u| %>
                <a href="<%= uri( '/users/' + u.account.kmcid,false ) %>"><%= u.account.name %></a> 
              <% end %>
            </p> 
        <% end %>
        </div>
      </div>
    </div>
  </div>
<%end%>


  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="text-center">最新<%= @newerillusts.count.to_s %>件の絵</h2>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <% @newerillusts.each_with_index do |illust, i| %>
            <div class="col-sm-3">
              <a href="<%= uri("./illust/"+illust.id.to_s ,false) %>" class="thumbnail"  style="width:auto;height:<%= thumbheight %>;">
                <img style="width:auto; height:<%= thumbnail_image_height %>px; object-fit: contain;"  src="<%= uri( "./thumbnail/" + illust.illusts.first.filename , false ) %>"  >
                <div class="caption">
                  <h3><%= illust.title  %></h3>
                  <p><%= illust.account.name %></p>
                  <p><%= illust.caption %></p>
                </div>
              </a>
            </div>
          <% end %>
        </div>
        
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="text-center">利用者達</h2>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <% @active_accounts.each do |a| %>
            <div class="col-md-3">
              <a href="<%= uri( 'users/' + a.kmcid ,false ) %>" type="button" class="btn btn-default center-block" ><%= a.name %>(<%=a.folders.size%>)</a>
            </div>
          <% end %>
        </div>
       </div>
    </div>
  </div>

</div>
