<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>God Illust Uploader</title>
   
  <!-- Bootstrap core CSS -->
  <link href="<%= uri('css/bootstrap.min.css',false) %>" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="<%= uri('css/starter-template.css',false) %>" rel="stylesheet">
  <link href="<%= uri('css/sticky-footer.css',false) %>" rel="stylesheet">
  <link href="<%= uri('css/topjumbotron.css',false) %>" rel="stylesheet">
  <link href="<%= uri('css/main.css',false) %>" rel="stylesheet">
  <link href="<%= uri('css/thumbnail-gallery.css',false) %>" rel="stylesheet">
  <link href="<%= uri('css/bootstrap-slider.css',false) %>" rel="stylesheet">
  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js',false) %>"></script><![endif]-->
  <script src="<%= uri('js/ie-emulation-modes-warning.js',false) %>"></script>

  <script type="text/javascript" src="<%= uri('js/jquery-1.11.3.min.js',false) %>"></script>
  <script type="text/javascript" src="<%= uri('js/moment.js',false) %>"></script>
  <script type="text/javascript" src="<%= uri('js/bootstrap.min.js',false) %>"></script>
  <script type="text/javascript" src="<%= uri('js/spoiler.js',false) %>"></script>
  <script type="text/javascript" src="<%= uri('js/bootstrap-slider.js',false) %>"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="<%= uri('js/ie10-viewport-bug-workaround.js',false) %>"></script>
</head>
<body>
<!-- 1.ナビゲーションバーの設定 -->
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- 2.ヘッダ情報 -->
      <div class="navbar-header">
        <a class="navbar-brand" href="<%= uri("/",false) %>" >KMC画像アップローダー God Illust Uploader</a>
      </div>
      <div class="collapse navbar-collapse" id="navbarEexample1">
	<ul class="nav navbar-nav">
	  <li><a href="<%= uri("/upload",false) %>" >アップロード</a></li>
	  <li><a href="<%= uri("/mypage",false) %>" >マイページ</a></li>
	  <li><a href="<%= uri("/tags",false) %>" >タグ検索</a></li>
	  <li><a href="<%= uri("/tegaki",false) %>" >tegaki_du</a></li>
	  <li><a href="<%= uri("/history",false) %>" >更新履歴</a></li>
        </ul>
      </div>
    </div> 


  </nav>
  
  <%== yield %>
  
  <footer class="footer">
    <div class="container">
      <p class="text-muted">Copyright(C)　2016- Kata. All rights reserved.</p>
    </div>
  </footer>
</body>
</html>
