<div class="container">

  <div class="panel panel-default">
    <div class="panel-heading" >
      <h2>タグ"<%= @tag.name %>"の絵たち</p>
    </div>
    <div class="panel-body">
      <div class="row"> 
        <% @folders.includes(:account, :illusts).order("created_at DESC").each do |i| %>
          <div class="col-md-3">
            <a href="<%= uri("./illust/"+i.id.to_s ,false) %>" class="thumbnail" style="height:<%= thumbheight %>;" >
              <% if ishide(i) then %>
                検閲によりサムネイル表示なし
              <% else %>
                <img style="width:auto;height:60%;"  src="<%= uri( "./illusts/" + i.illusts.first.filename , false ) %>">
              <% end %>
              <div class="caption" style="width:auto;height:40%">
                <h3><%= i.title  %></h3>
                <p><%= i.account.name %></p>
                <p><%= i.caption %></p>
              </div>
            </a>
          </div>
        <% end %>
      </div>
    </div>
  </div> 

</div>

