<script type="text/javascript" src="<%= uri( '/js/user.js',false ) %>"></script>
<div class="container">

  <div class="jumbotron">
    <div class="row">
      <p class="text-center"><%= @user.name %>の作品置場</p>
    </div>
    <div class="row">
      <!-- モーダルウィンドウを呼び出すボタン -->
      <% if @user.kmcid == kmcid then %>
        <button type="button" class="btn btn-primary pull-right " data-toggle="modal" data-target="#editModal">情報の編集</button>
      <% end %> 
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row"> 
        <% @user.folders.includes(:illusts).includes(:tags).order( "created_at DESC" ).uniq.each do |i| %>
          <div class="col-md-3">
              <a href="<%= uri("./illust/"+i.id.to_s ,false) %>" class="thumbnail" style="height:<%= thumbheight %>;">
                <% if ishide(i) then %>
                  検閲によりサムネイル表示なし
                <% else %>
                  <img style="width:auto; height:<%= thumbnail_image_height %>px; object-fit: contain;"  src="<%= uri( "./thumbnail/" + i.illusts.first.filename , false )%> "  > 
                <% end %>
              <div class="caption" style="width:auto;height=50%;">
                <h3><%= i.title  %></h3>
                <p><%= i.caption %></p>
              </div>
            </a>
          </div>
        <% end %>
      </div>

    </div>
  </div> 

</div>



<!-- モーダルウィンドウの中身 -->
<div class="modal fade" id="editModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">絵師情報の編集</h4>
      </div>
      <div class="modal-body">
        <form method="POST" action="<%= uri( '/changeusersettings',false ) %>" >
          <div class="form-group">
             <label>KMC-ID</label>
             <input value="<%= @user.kmcid %>" name="kmcid" type="text" class="form-control"  readonly >
          </div>
          <div class="form-group">
             <label>表示名</label>
             <input value="<%= @user.name %>" name="name" type="text" class="form-control"  required>
          </div>
          <div class="form-group">
             <button type="submit" class="btn btn-primary form-control" >更新</button>
          </div>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
       </div>
    </div>
  </div>
</div>
